<style type="text/css">

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'muli' }
.nav_style{
	background-color: #D44638!important;
}
.nav_style a{ color: white !important; }
.main{
	margin-top: 20px;
}
.navbar-nav li a {
    font-size: 120%;
}


.main_header{
	
	width: 100%;
}
.leftside img{ animation: heartbeat 5s linear infinite;}
@keyframes heartbeat 
{
	0%
	{
		transform: scale(.90);
	}
	14%
	{
		transform: scale(.95);
	}
	28%
	{
		transform: scale(1);
	}
	42%
	{
		transform: scale(.95);
	}
	56%
	{
		transform: scale(.90);
	}
	70%
	{
		transform: scale(.95);
	}
	85%
	{
		transform: scale(1);
	}
	100%
	{
		transform: scale(.95);
	}
}
.rightside{
	margin-top: 45px;
}
li a{
	text-decoration: none;
	color: white;
}
li a:hover{
	text-decoration: none;
	color: lightblue;
}
.social{
        text-decoration: none;
        color: white;     

} 

.footlink li a{
	font-size: 110%;
	margin-left: 20px;
}

</style>
